<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.springboot.labs.chat05.demo1.OrderMapper">

    <!--单表查询3种方式三：resultMap元素映射-->
    <resultMap id="orderModelMap" type="cn.iocoder.springboot.labs.chat05.demo1.OrderModel">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="create_time" property="createTime" />
        <result column="up_time" property="upTime" />
    </resultMap>

    <!--单表查询3种方式一：别名查询-->
    <select id="getById" resultType="cn.iocoder.springboot.labs.chat05.demo1.OrderModel">
    <![CDATA[
        SELECT a.id,a.user_id as userId,a.create_time createTime,a.up_time upTime FROM t_order a WHERE a.id = #{value}
    ]]>
    </select>
    <!--单表查询3种方式二：前提是开启自动驼峰命名规则映射-->
    <select id="getById1" resultType="cn.iocoder.springboot.labs.chat05.demo1.OrderModel">
    <![CDATA[
        SELECT a.id,a.user_id,a.create_time,a.up_time FROM t_order a WHERE a.id = #{value}
    ]]>
    </select>

    <select id="getById2" resultMap="orderModelMap">
    <![CDATA[
        SELECT a.id,a.user_id,a.create_time,a.up_time FROM t_order a WHERE a.id = #{value}
    ]]>
    </select>

</mapper>