<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.springboot.labs.chat06.UserMapper">

    <!--if元素使用-->
    <select id="getList1" resultType="cn.iocoder.springboot.labs.chat06.UserModel" parameterType="map">
        SELECT id,name,age FROM t_user
        WHERE 1 = 1
        <if test="id!=null">
            AND id = #{id}
        </if>
        <if test="name!=null and name.toString()!=''">
            AND name = #{name}
        </if>
        <if test="age!=null">
            AND age = #{age}
        </if>
    </select>

    <!--choose/when/otherwise元素，按顺序进行判断，类似java中case-when -->
    <select id="getList2" resultType="cn.iocoder.springboot.labs.chat06.UserModel" parameterType="map">
        SELECT id,name,age FROM t_user
        WHERE 1 = 1
        <choose>
            <when test="id!=null">
                AND id = #{id}
            </when>
            <when test="name!=null and name.toString()!=''">
                AND name = #{name}
            </when>
            <when test="age!=null">
                AND age = #{age}
            </when>
        </choose>
    </select>

    <!--where元素，针对于getList1中的WHERE 1 = 1处理，会将中间SQL拼接部分去掉头部的and|or且加上where-->
    <select id="getList3" resultType="cn.iocoder.springboot.labs.chat06.UserModel" parameterType="map">
        SELECT id,name,age FROM t_user
        <where>
            <if test="id!=null">
                AND id = #{id}
            </if>
            <if test="name!=null and name.toString()!=''">
                AND name = #{name}
            </if>
            <if test="age!=null">
                AND age = #{age}
            </if>
        </where>
    </select>

    <!--set元素，更新-->
    <update id="update1" parameterType="cn.iocoder.springboot.labs.chat06.UserModel">
        UPDATE t_user
        <!-- set标签会将这部分sql前后的逗号给去掉并在前面加上set -->
        <set>
            <if test="name!=null">
                name = #{name},
            </if>
            <if test="age!=null">
                age = #{age},
            </if>
        </set>
        <where>
            <if test="id!=null">
                AND id = #{id}
            </if>
        </where>
    </update>

    <!--trim元素，对getList1的改造，源码参考：org.apache.ibatis.scripting.xmltags.TrimSqlNode-->
    <select id="getList4" resultType="cn.iocoder.springboot.labs.chat06.UserModel" parameterType="map">
        SELECT id,name,age FROM t_user
        <trim prefix="where" prefixOverrides="and|or">
            <if test="id!=null">
                AND id = #{id}
            </if>
            <if test="name!=null and name.toString()!=''">
                AND name = #{name}
            </if>
            <if test="age!=null">
                AND age = #{age}
            </if>
        </trim>
    </select>

    <!--trim元素，对update1的改造-->
    <update id="update2" parameterType="cn.iocoder.springboot.labs.chat06.UserModel">
        UPDATE t_user
        <trim prefix="SET" prefixOverrides="," suffixOverrides=",">
            <if test="name!=null">
                name = #{name},
            </if>
            <if test="age!=null">
                age = #{age},
            </if>
        </trim>
        <where>
            <if test="id!=null">
                AND id = #{id}
            </if>
        </where>
    </update>

    <!--foreach元素，对getList1的改造-->
    <select id="getList5" resultType="cn.iocoder.springboot.labs.chat06.UserModel" parameterType="map">
        SELECT id,name,age FROM t_user
        <where>
            <if test="id!=null">
                AND id = #{id}
            </if>
            <if test="name!=null and name.toString()!=''">
                AND name = #{name}
            </if>
            <if test="age!=null">
                AND age = #{age}
            </if>
            <if test="idList!=null and idList.size()>=1">
                <foreach collection="idList" item="id" open="AND id in (" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

    <!--批量插入-->
    <insert id="insertBatch" parameterType="list">
        INSERT INTO t_user (id,name,age) VALUES
        <foreach collection="collection" separator="," item="item">
            (#{item.id}, #{item.name}, #{item.age})
        </foreach>
    </insert>

    <!--sql/include元素-->
    <sql id="findSql">
        <where>
            <if test="id!=null">
                AND id = #{id}
            </if>
            <if test="name!=null and name.toString()!=''">
                AND name = #{name}
            </if>
            <if test="age!=null">
                AND age = #{age}
            </if>
            <if test="idList!=null and idList.size()>=1">
                <foreach collection="idList" item="id" open="AND id in (" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <!-- bind元素-->
            <if test="likeName!=null and likeName.trim()!=''">
                <bind name="nameLike" value="'%'+likeName.trim()+'%'" />
                AND name like #{nameLike}
            </if>
        </where>
    </sql>

    <select id="getList6" resultType="cn.iocoder.springboot.labs.chat06.UserModel" parameterType="map">
        SELECT id,name,age FROM t_user
        <!--对应xml的namespace的值.sql的id-->
        <include refid="cn.iocoder.springboot.labs.chat06.UserMapper.findSql" />
    </select>

    <select id="getList6Count" resultType="cn.iocoder.springboot.labs.chat06.UserModel" parameterType="map">
        SELECT count(*) FROM t_user
        <include refid="findSql" />
    </select>

    <!--${}进行字符串拼接-->
    <select id="getList7" resultType="cn.iocoder.springboot.labs.chat06.UserModel" parameterType="map">
        SELECT id,name,age FROM t_user
        <if test="orderSql">
            ${orderSql}
        </if>
    </select>


</mapper>