<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.springboot.labs.chat07.UserMapper">

    <select id="getList1" resultType="cn.iocoder.springboot.labs.chat07.UserModel">
        SELECT id,name,age,sex FROM t_user
    </select>

    <!--处理sex值为null时，#{sex,typeHandler=cn.iocoder.springboot.labs.chat07.SexEnumTypeHandle}
    #{sex,javaType=com.javacode2018.chat05.demo10.enums.SexEnum}-->
    <insert id="insert1" parameterType="map">
        <![CDATA[
            insert into t_user (id,name,age,sex)
            VALUE (
                #{id},#{name},#{age},
                #{sex}
                )
        ]]>
    </insert>

</mapper>