<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.springboot.labs.chat05.demo3.OrderDetailModelMapper">

    <select id="getListByOrderId1" resultType="cn.iocoder.springboot.labs.chat05.demo3.OrderDetailModel" parameterType="int">
    <![CDATA[
        SELECT
            a.id,
            a.order_id AS orderId,
            a.goods_id AS goodsId,
            a.num,
            a.total_price AS totalPrice
        FROM
            t_order_detail a
        WHERE
            a.order_id = #{value}
        ]]>
    </select>

</mapper>