<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.springboot.labs.chat03.demo2.UserMapper">
    <!-- select用来定义一个查询操作
         id：操作的具体标识
         resultType：指定查询结果保存的类型
     -->
    <select id="getUserList" resultType="cn.iocoder.springboot.labs.chat03.demo2.UserModel">
        <![CDATA[
        SELECT * FROM t_user
        ]]>
    </select>

</mapper>