<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.springboot.labs.chat05.demo5.OrderMapper">

    <resultMap id="orderModelMap1" type="cn.iocoder.springboot.labs.chat05.demo5.OrderUserOrderDetailModel">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="create_time" property="createTime"/>
        <result column="up_time" property="upTime"/>
        <!--  通过订单中user_id作为条件，查询下单人信息 -->
        <association property="userModel" select="cn.iocoder.springboot.labs.chat05.demo5.UserMapper.getById1" column="user_Id"/>
        <!--  通过订单id作为条件，查询详情列表 -->
        <collection property="orderDetailModelList" select="cn.iocoder.springboot.labs.chat05.demo5.OrderDetailModelMapper.getListByOrderId1" column="id"/>
    </resultMap>

    <resultMap id="orderModelMap2" type="cn.iocoder.springboot.labs.chat05.demo5.OrderUserOrderDetailModel">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="create_time" property="createTime"/>
        <result column="up_time" property="upTime"/>
        <!--  通过订单中user_id作为条件，查询下单人信息 -->
        <association property="userModel" fetchType="eager" select="cn.iocoder.springboot.labs.chat05.demo5.UserMapper.getById1" column="user_Id"/>
        <!--  通过订单id作为条件，查询详情列表 -->
        <collection property="orderDetailModelList" fetchType="lazy" select="cn.iocoder.springboot.labs.chat05.demo5.OrderDetailModelMapper.getListByOrderId1" column="id"/>
    </resultMap>

    <!--通过订单id查询订单信息，当传入的订单id为1的时候，获取订单信息及下单人信息；当传入的订单id为2的时候，获取订单信息、下单人信息、订单明细信息；其他情况默认只查询订单信息。-->
    <resultMap id="orderModelMap3" type="cn.iocoder.springboot.labs.chat05.demo5.OrderUserOrderDetailModel">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="create_time" property="createTime"/>
        <result column="up_time" property="upTime"/>
        <!-- 鉴别器 -->
        <discriminator javaType="int" column="id">
            <case value="1">
                <!--通过用户id查询用户信息-->
                <association property="userModel" select="cn.iocoder.springboot.labs.chat05.demo5.UserMapper.getById1" column="user_Id"/>
            </case>
            <case value="2">
                <!--通过用户id查询用户信息-->
                <association property="userModel" select="cn.iocoder.springboot.labs.chat05.demo5.UserMapper.getById1" column="user_Id"/>
                <!--通过订单id查询订单列表-->
                <collection property="orderDetailModelList" select="cn.iocoder.springboot.labs.chat05.demo5.OrderDetailModelMapper.getListByOrderId1" column="id"/>
            </case>
        </discriminator>
    </resultMap>

    <resultMap id="orderModelMap4" type="cn.iocoder.springboot.labs.chat05.demo5.OrderUserOrderDetailModel">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="create_time" property="createTime"/>
        <result column="up_time" property="upTime"/>
        <!-- 鉴别器 -->
        <discriminator javaType="int" column="id">
            <case value="1" resultMap="orderModelMap5" />
            <case value="2" resultMap="orderModelMap6" />
        </discriminator>
    </resultMap>

    <!--extends属性映射关系-->
    <resultMap id="orderModelMap5" type="cn.iocoder.springboot.labs.chat05.demo5.OrderUserOrderDetailModel" extends="orderModelMap4">
        <!--通过用户id查询用户信息-->
        <association property="userModel" select="cn.iocoder.springboot.labs.chat05.demo5.UserMapper.getById1" column="user_Id"/>
    </resultMap>

    <!--extends属性映射关系-->
    <resultMap id="orderModelMap6" type="cn.iocoder.springboot.labs.chat05.demo5.OrderUserOrderDetailModel" extends="orderModelMap5">
        <!--通过订单id查询订单列表-->
        <collection property="orderDetailModelList" select="cn.iocoder.springboot.labs.chat05.demo5.OrderDetailModelMapper.getListByOrderId1" column="id"/>
    </resultMap>

    <select id="getById1" resultMap="orderModelMap1">
    <![CDATA[
        SELECT
            a.id ,
            a.user_id,
            a.create_time,
            a.up_time
        FROM
            t_order a
        WHERE
            a.id = #{value}
        ]]>
    </select>

    <select id="getById2" resultMap="orderModelMap2">
    <![CDATA[
        SELECT
            a.id ,
            a.user_id,
            a.create_time,
            a.up_time
        FROM
            t_order a
        WHERE
            a.id = #{value}
        ]]>
    </select>

    <select id="getById3" resultMap="orderModelMap3">
    <![CDATA[
        SELECT
            a.id ,
            a.user_id,
            a.create_time,
            a.up_time
        FROM
            t_order a
        WHERE
            a.id = #{value}
        ]]>
    </select>

    <select id="getById4" resultMap="orderModelMap4">
    <![CDATA[
        SELECT
            a.id ,
            a.user_id,
            a.create_time,
            a.up_time
        FROM
            t_order a
        WHERE
            a.id = #{value}
        ]]>
    </select>

</mapper>