<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.springboot.labs.chat05.demo5.UserMapper">

    <!-- 根据用户id查询用户信息 -->
    <select id="getById1" resultType="cn.iocoder.springboot.labs.chat05.demo5.UserModel">
    <![CDATA[
        SELECT id,name FROM t_user where id = #{user_id}
        ]]>
    </select>

</mapper>